{% extends 'base.html' %}

{% block header %}
  <h2 style="color: aliceblue;" class="text-slate-700 my-2">{% block title %}MENSAJES{% endblock %}</h2>
  {% if g.user %}
    <div class="flex justify-end">
      <a style="color: aliceblue;" class="action" href="{{ url_for('inbox.send') }}"> MENSAJES</a>
      <a style="color: aliceblue;" class="action" href="{{ url_for('inbox.getDB') }}">DESCARGAR H.M</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% for message in messages %}
    <article class="post mx-4 mb-3 pl-2 border-l-4 border-slate-700">
      <header>
        <div>
          <h3 style="color: aliceblue;" class="text-lg">{{ message['subject'] }} from {{ message['username'] }} on {{ message['created'].strftime('%Y-%m-%d') }}</h3>
        </div>
      </header>
      <p style="color: aliceblue;" class="body text-slate-600">{{ message['body'] }}</p>
    </article>
  {% endfor %}
{% endblock %}
